.app {
  display: flex;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.main {
  flex: 1;
  background-color: #f7f8fa;
  padding: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 1000px) {
  .app {
    flex-direction: column;
  }
}
